@import "nav.css";
@import "footer.css";


*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.shopping-cart {
    width: 750px;
    margin-top: 30px;
    margin-left: 200px ;


    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 20px;
    text-align: center;
}

.item {
    padding: 20px 30px;
    height: 130px;
    display: flex;
}

.item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
}


.image img{
    margin-right: 50px;
    max-height: 100px;
    position: relative;
}

.description {
    padding-top: 10px;
    margin-right: 60px;
    left: 60px;
    width: 115px;
}

.description span {
    margin-top: 15px;
    display: block;
    font-size: 14px;
    color: #282c31;
    font-size: 15px;
}

.quantity {
    padding-top: 20px;
    margin-right: 60px;
}

.quantity input {
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
}

.cart-button, .like-button, .delete-button {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
    transition: 0.3s;
}

.plus-button,.minus-button {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-bottom: 3px;
    margin-top: 3px;
}

.total-price {
    width: 70px;
    padding-top: 25px;
    text-align: center;
    font-size: 16px;
    color: #383c40;
}

.total-payment{
    font-size: 20px;
    margin-right: 150px;
    text-align: right;
    color: #383c40;
}

.payment button {
    background-color: #c5d5cb;
    border: none;
    border-radius: 4px;
    color: #142b47;
    padding: 10px 32px;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 580px;
    margin-bottom: 20px;

}

button:hover{opacity: 1;}

