@import "nav.css";
@import "footer.css";

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

.form-wrap{
    width: 500px;
    padding: 40px 20px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-align: center;
    color: #c06c84;
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 2px;

}

.form-wrap input{
    width: 70%;
    background: rgba(255,255,255,0.1);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    height: auto;
    padding: 10px 30px;
    background-color: #ececee;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgb(0,0,0,0.03) inset;
    margin-bottom: 20px;
    margin-left: 80px;
    box-sizing: border-box;
}

.button button {
    background-color: #4c495a;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 32px;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 180px;
}

.error{
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid red;
    color: yellow;
    background: green;
    border-radius: 5px;
    text-align: left;
}

button:hover {opacity: 1}
