.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    width: 100%;
    overflow: auto;
    line-height: 60px;
    background: #fdddd3; /*background of footer*/
    font-size: 12px;
}

.footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 30px;
}


.footer p{
    float: left;
}

.footer social a{
    position: fixed;
    float: left;
}

.footer li{
    float: left;
}

.footer ul li a {
    text-decoration: none;
    width: 130px;
    display:block ;
    text-align: center;
    color: #7e6e69; /*color of logos*/
    font-size:18px ;
    letter-spacing: 0.8px; /*space between letters*/
}

.footer li a:hover{
    color: #d54012;
    opacity: 0.5;
    font-size: 19px;
}

.social{
    margin:15px;
    float: right;
}