@import "nav.css";
@import "footer.css";

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}
.homePic img{
    max-width: 1024px;
    height: auto;
}

.shopNow {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: #f1ca5c;
    border: none;
    border-radius: 4px;
    color: white;
    letter-spacing: 5px; /*space between letters*/
    padding: 15px 37px;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
    alignment: center;
}

button:hover{opacity: 1;}
