@import "nav.css";
@import "footer.css";

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}


.form-wrap{
    width: 500px;
    padding: 40px 20px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-align: center;
    color: #142b47;
    font-size: 40px;
    margin-bottom: 10px;
}

.form-wrap input{
    width: 70%;
    background: rgba(255,255,255,0.1);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    height: auto;
    padding: 10px 30px;
    background-color: #f2f092;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgb(0,0,0,0.03) inset;
    margin-bottom: 20px;
    margin-left: 80px;
    box-sizing: border-box;
}

.button button {
    background-color: #fedcd2;
    border: none;
    border-radius: 4px;
    color: black;
    padding: 10px 32px;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    margin-left: 160px;
}

button:hover {opacity: 1}

.form-wrap p{
    margin-top: 50px;
    text-align: center
}